<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="Globals" >
        <activity
            android:name="com.android.sapp.Sapp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubSapp" >
        </activity>
        <activity android:name=".CastSapp" >
        </activity>
        <activity android:name=".ShowCast" >
        </activity>
        <activity android:name=".DispCast" >
        </activity>
        <activity android:name=".DatabaseHelper" >
        </activity>
    </application>

</manifest>
